.background-field {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 500px;
    background: #b8b8b8
}

.instruction {
    position: absolute;
    top: 13px;
    left: 130px;
    width: 880px;
    height: 40px;
}

/*---------------------------------------------------*/

.line-1 {
    border-left: 3px solid #fa5d41;
    height: 503px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.line-2 {
    border-left: 3px solid #fa5d41;
    height: 503px;
    position: absolute;
    left: 1000px;
    top: 0px;
}

.line-3 {
    border-top: 3px solid #fa5d41;
    width: 1000px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.line-4 {
    border-top: 3px solid #fa5d41;
    width: 1000px;
    position: absolute;
    left: 0px;
    top: 500px;
}

.line-5 {
    border-top: 3px solid #fa5d41;
    width: 1000px;
    position: absolute;
    left: 0px;
    top: 60px;
}


/*---------------------------------------------------*/

.file-upload input[type="file"] {
    display: none;
}

/*Задаём параметры кнопки*/
.file-upload {
    position: absolute;
    top: 95px;
    left: 500px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 500px;
    height: 40px;
    background: #fa5d41;
    color: #fff;
    text-align: center;
}

    /* Задаём цвет при наведении курсора */
    .file-upload:hover {
        background: #fc9381;
    }

    /* Растягиваем label на всю область блока .file-upload */
    .file-upload label {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    /* стиль текста на кнопке*/
    .file-upload span {
        line-height: 40px;
        font-weight: bold;
    }

/*---------------------------------------------------*/

.file-name {
    position: absolute;
    top: 120px;
    left: 250px;
    width: 500px;
    height: 300px;
    text-align: center;
}

/*---------------------------------------------------*/

.file-send input[type="submit"] {
    display: none;
}

.file-send {
    position: absolute;
    top: 470px;
    left: 500px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 500px;
    height: 40px;
    background: #fa5d41;
    color: #fff;
    text-align: center;
}

    .file-send:hover {
        background: #fc9381;
    }

    .file-send label {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .file-send span {
        line-height: 40px;
        font-weight: bold;
    }

/*---------------------------------------------------*/

.returntomain input[type="submit"] {
    display: none;
}

.returntomain {
    position: absolute;
    top: 30px;
    left: 60px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100px;
    height: 40px;
    background: #fa5d41;
    color: #fff;
    text-align: center;
}

    .returntomain:hover {
        background: #fc9381;
    }

    .returntomain label {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .returntomain span {
        line-height: 20px;
        font-weight: bold;
    }
